.cabecalho__menu-hamburguer {
    width: 40px;
    height: 40px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    display: inline-block;
    background-color: none;
}

.cabecalho { /*pai*/
    background-color: var(--cor-de-fundo-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;}

.container {
    display: flex;
    text-align: center;
}

.container__imagem {
    padding: 0 1em;
}

.lista-menu { /*filho*/
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
display: block;}


.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--cor-de-fundo-header);
}

.lista-menu__titulo {
    color: var(--cor-laranja-modelo);
    font-weight: 700;
}

.lista-menu__link {
    text-decoration: none;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text; /*outros tipos de navegadores*/
    -webkit-text-fill-color: transparent;  /*outros tipos de navegadores*/
    background-clip: text; /*prendendo a cor do background só no texto*/
    text-transform: uppercase;
}