
:root { /*variaveis css*/
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
    --botao-efeito: #831d2b;


}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-size: 28px;
    font-weight: 400;
    font-family: var(--fonte-principal);
}

@media screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    align-items: center;
    text-align: center;

}

@media screen and (max-width: 480px) {
    .principal {
        background-image: none;
        background-size: none;
    }
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem__mobile {
    display: none;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em; /*pega de acordo com o pai que no padrão é 16 então é 1x16*/ 
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}



.container__botao:hover {
    background-color: var(--botao-efeito);
}

.botao_secundario {
    border: 1px solid var(--branco-principal);
    background-color: transparent;
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}

.container__caixa {
    margin: 0 6em;
    background-image: url("img/Background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

@media screen and (max-width: 480px) {    

    .container__botao {
        margin: 5px 45px;
    }

    .container__titulo {
        padding: 50px;
    }

    .container__imagem {
        display: none;
    }

    .container__imagem__mobile {
        display: block;
        width: 250px;
        padding-top: 10px;
        margin: 0 auto;
    }

    .container__caixa {
        margin: 0;
        padding: 5px;
    }
    .container {
        margin: 0; 
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}


.secundario {
    align-items: center;
    height: 600px;
}

.terciario, .quartiario {
    height: 600px;
}

@media screen and (max-width: 480px) {
    .terciario {
        height: 200px;
    }
    .quartiario {
        height: 400px;
    }
    .secundario {
        height: 500px;
    }
}

.descricao__titulo {
    text-align: start;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.descricao_paragrafo {
    font-size: 16px;
    text-align: start;
    color: var(--cinza-secundario);
}


.imagens__esquerda {
    width: 60%;
    margin: 0 auto;

}


.container__descricao {
    padding: 0 7em;
}

.botao__terciario {
    margin-top: 20px;
    width: 12em;
    font-size: 16px;
}



.imagens__direita {
    width: 70%;
}

.dispositivo__lista {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 2em 0;
}

@media screen and (max-width: 480px) {
    .dispositivo__lista {
        flex-wrap: wrap;
    }

    .descricao_paragrafo {
        padding: 0 20px;
    }

    .botao__terciario {
        margin: 20px auto;

    }

    .descricao__titulo{
        padding: 0 10px 10px 10px;
        text-align: center;
    }

    .imagens__direita {
        margin: 0 auto;
        display: none;
    }
}

.dispositivo {
    text-align: center;
}

.dispositivo h2{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.lista__item:hover {
    color: var(--botao-efeito);
}

.link__lista {
    font-size: 16px;
    color: var(--branco-principal);
    text-decoration: none;
}

footer p {
    font-size: 14px;
    color: var(--cinza-secundario);
}

.container__fotter {
    text-align: center;
    margin: 6em 4em 2em 4em;
}

.lista__fotter {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.link__lista:hover {
    color: var(--botao-azul);
}

.link__lista:active {
    color: red;
}

@media screen and (max-width: 480px) {
    .lista__fotter {
        flex-wrap: wrap;
    }

    .container__descricao {
        padding: 0;
    }

    .container__fotter {
        margin: 70px auto;
    }

    .dispositivo h2 {
        font-size: 40px;
    }
}